<!DOCTYPE html>
<html>
<head>
    <link href="StyleAng.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/2b6389b7bb.js" crossorigin="anonymous"></script>
    <meta charset="utf-8" />
    <script src="JavaScriptAng.js"></script>
    <title>Store</title>
</head>
<body ng-app="app">
    <div class="top-bar">
        <h1 style="display: inline-block; margin-top: 20px;">GRADE 'A' STORE</h1>
        <img style="float: right;" src="CompuskillsIcon.png" />
    </div>

    <div ng-controller="StoreController as storeCtrl">
        <div ng-show="storeCtrl.showForm" class="pop-up">
            <div class="flexbox">
                <div class="review-pop-up">
                    <div class="review-pop-up">
                        <div style="display:inline-block">Write A Review {{ storeCtrl.productId }}</div>
                        <button ng-click="storeCtrl.closeShowForm()" style="float:right;">X</button>
                    </div>
                    <form name="reviewForm" ng-submit="storeCtrl.submitReview()">
                        <div class="flex"> <label class="form-label">Name</label> <input class="form-input" type="text" name="name" ng-model="storeCtrl.curComment.name" /></div>
                        <div class="flex"><label class="form-label">Email Address</label> <input class="form-input" type="text" name="Email" ng-model="storeCtrl.curComment.Email" /></div>
                        <div class="flex"><label class="form-label">Review</label> <textarea class="form-input" type="text" name="review" ng-model="storeCtrl.curComment.review"></textarea></div>
                        <div class="flex"><button class="form-button">Submit Review</button></div>
                    </form>
                </div>
            </div>
        </div>
        <div ng-show="storeCtrl.reviewShower" class="pop-up">
            <div class="flexbox">
                <div class="review-pop-up">
                    <div class="review-pop-up review-header">
                        <div style="display:inline-block">View Review {{ storeCtrl.productId }}</div>
                        <button ng-click="storeCtrl.closeReviewShower()" style="float:right;">X</button>
                    </div>
                    <div ng-repeat="review in storeCtrl.reviewProd.reviews" class="review-pop-up review-body">
                        <div class="review-body-header flex">
                            <div class="bold">{{ review.name }}</div>
                            <div class="italiacs">{{ review.date }}</div>
                        </div>
                        <div class="review-body-body flex">
                            <div class="review-body-comment">{{ review.review }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div ng-repeat="product in storeCtrl.products" class="col-lg-3 center border-double" id="{{ product.productId }}">
                    <div class="imgContainer"><img src="{{ product.image }}" /></div>
                    <div>{{ product.name }}</div>
                    <div class="stars">
                        <button ng-repeat="star in [1,2,3,4,5]" class="far fa-star" ng-class="{'fas': star <= product.ratings}" ng-click="product.ratings = star" type="button"></button>
                    </div>
                    <div class="reviews">
                        <button type="button" class="review-button" ng-click="storeCtrl.reviews(product, product.productId)">{{ product.reviews.length}} Review</button>
                    </div>
                    <div><button ng-click="storeCtrl.popUpForm(product.productId)">Reviews</button></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
