.height {
    height: 310px;
    margin-bottom: 10vh;
}

.top-bar {
    background-color: #085394;
    height: 100px;
    margin-bottom: 25px;
    width: 100vw;
}

.loading-mask{
    display:none;
    opacity:.5;
}

.pop-up {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.invisible {
    display: none;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    text-align: center;
}

.product {
    text-align: center;
    padding-top: 10px;
}

.imgContainer{}

.fa-star {
    border: none;
    background-color: inherit;
}

.fas {
    color: yellow;
}

.review-button {
    border-style: hidden;
    background-color: inherit;
    color: blue;
}

.review-pop-up {
    border: 1px solid black;
    width: 480px;
    background-color: white;
}

.review-header {
    height: 31px;
}

.review-body-header {
    width: 100px;
    height: 80px;
    float: left;
    flex-direction: column;
}

.review-body-body {
    width: 370px;
    height: 80px;
}

.review-body-comment {
    width: 300px;
}

.review-body-grid {
    display: grid;
    grid-template-columns: 100px 370px;
    grid-template-rows: 12px 25px 12px 25px 12px 105px 12px;
}

.italiacs{
    font-style: italic;
}

.bold{
    font-weight:bold; 
}