.height {
    height: 310px;
    margin-bottom: 10vh;
}
.top-bar {
    background-color: #085394;
    height: 100px;
    margin-bottom: 25px;
    width:100vw;
}
.product {
    text-align:center;
    padding-top:10px;
}
.fa-star{
    border:none;
    background-color:inherit;
}
.fas{
    color:yellow;
}
.review-button{
    border-style:hidden;
    background-color:inherit;
    color:blue;
}
.review-pop-up {
    border: solid;
    background-color: white;
    position:center;
}
